<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><title>Mini App</title><style>body {
  margin: 0;
  padding: 1em;
  background-color: white;
}

[data-cart-info], [data-credit-card] {
  transform: scale(0.78);
  margin-left: -3.4em;
  display: inline;
  vertical-align: middle;
}

[material-icons] {
  font-size: 150px;
}

[data-cc-info] input:focus, [data-cc-digits] input:focus {
  outline: none;
}

.mdc-card__primary-action, .mdc-card__primary-action:hover {
  cursor: auto;
  padding: 20px;
  min-height: inherit;
}

[data-credit-card] [data-card-type] {
  transition: width 1.5s;
  margin-left: calc(100% - 130px);
}

.data-credit-card {
  width: 435px;
  min-height: 240px;
  border-radius: 10px;
  background-color: #5d6874;
}

.is-visa {
  background: linear-gradient(135deg, #622774 0%, #c53364 100%);
}

.is-mastercard {
  background: linear-gradient(135deg, #65799b 0%, #5e2563 100%);
}

.is-visa [data-card-type], .is-mastercard [data-card-type] {
  width: auto;
}

input.is-invalid, .is-invalid input {
  text-decoration: line-through;
}

::placeholder {
  color: #fff;
}

[data-card-type] {
  display: block;
  width: 120px;
  height: 60px;
}

</style></head><body><div class="data-cart-info"><h1 class="mdc-typography--headline4"><span material-icons content="shopping_cart"></span><span data-bil></span></h1></div><div data-credit-card class="mdc-card mdc-card--outlined"><div class="mdc-card__primary-action"><img src="http://placehold.it/120x60.png?text=card" alt="" data-card-type><div data-cc-digits><input data-cc-digits type="text" size="4" placeholder="----"><input data-cc-digits type="text" size="4" placeholder="----"><input data-cc-digits type="text" size="4" placeholder="----"><input data-cc-digits type="text" size="4" placeholder="----"></div><div adata-cc-info><input type="text" size="20" placeholder="Name Surname"><input type="text" size="6" placeholder="MM/YY"></div></div></div><button class="mdc-button" data-pay-btn>Pay &amp Checkout Now</button><script>const supportedCards= {
  visa, mastercard
}

;
const countries=[ {
  code: "US", currency: "USD", country: 'United States'
}

, {
  code: "NG", currency: "NGN", country: 'Nigeria'
}

, {
  code: 'KE', currency: 'KES', country: 'Kenya'
}

, {
  code: 'UG', currency: 'UGX', country: 'Uganda'
}

, {
  code: 'RW', currency: 'RWF', country: 'Rwanda'
}

, {
  code: 'TZ', currency: 'TZS', country: 'Tanzania'
}

, {
  code: 'ZA', currency: 'ZAR', country: 'South Africa'
}

, {
  code: 'CM', currency: 'XAF', country: 'Cameroon'
}

, {
  code: 'GH', currency: 'GHS', country: 'Ghana'
}

];
const startApp=()=> {}

;
startApp();
</script></body></html>