html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Montserrat";
  background-color: whitesmoke;
  overflow-x: hidden;
}

nav {
  position: relative !important;
  overflow: auto;
  background-color: whitesmoke !important;
}

.items {
  margin: 0 10% 0 10%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  width: 10%;
  margin-right: 40px;
  background: whitesmoke;
  padding: 30px;
  position: fixed;
  left: 0px;
  top: 100px;
}

.col2 {
  padding-left: 100px;
}

section h1 {
  font-size: 50px;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

img {
  border-radius: 10px;
}

.card {
  max-width: 300px;
  margin: 15px;
}

.card>h3 {
  margin: 0;
  padding: 0;
}

.card>p {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

.price {
  color: grey;
  font-size: 20px;
}

.items2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card a {
  padding: 6px 15px 6px 15px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
  text-decoration: none;
}

.card a:hover {
  background-color: white;
  color: #000;
  border: 1px solid black;
}

.card>img {
  height: 200px;
  object-fit: cover;
}

input {
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .card {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    position: initial;
    width: initial;
    margin: 0 0 20px 0;
    padding: 20px;
  }
  .items {
    margin: 0;
    padding: 0;
  }
  .col2 {
    padding: 0;
  }
}