body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    max-width: 100%;
}

.card {
    max-width: 300px;
    margin: 15px;
}

.card>h3 {
    margin: 0;
    padding: 0;
}

.card>p {
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

.price {
    color: grey;
    font-size: 20px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav>ul>li {
    display: inline-block;
}

nav {
    background-color: white;
    overflow: auto;
    padding: 10px 10px 20px 10px;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

.primary-nav {
    float: left;
    font-size: 20px;
}

.primary-nav>a {
    letter-spacing: 5px;
}

.primary-nav>img {
    width: 30px;
}

.secondary-nav>a {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .6);
    font-size: 15px;
    letter-spacing: 3px;
}

.secondary-nav {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

nav>ul>li>a {
    color: black;
    font-family: helvetica;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: #CB4335;
}

.card a {
    padding: 6px 15px 6px 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 16px;
    text-decoration: none;
}

.card a:hover {
    background-color: white;
    color: #000;
    border: 1px solid black;
}

section>h2, section>h1, section>p {
    margin: 0 0 0 35px;
}

section>h1 {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card>img {
    height: 200px;
    object-fit: cover;
}